

/* begining of styles */
:root {
    --mainColor: #cf000f;
  }
  
  #home {
    background: url('./assets/hero.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .black-overlay {
    background: #000000e6;
    height: 100%;
  }

  
  .navstyle:hover {
    background:
       linear-gradient(
         to right,
         var(--mainColor) 0%,
         var(--mainColor) 5px,
         transparent
       );

  }



body{
    background-color: rgba(25,25,25,0.9);
  } 
 
.o-style{
  color: crimson;
  font: 400px;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0px;
}

.brand-style{
  color: rgba(255,255,255,.55);
}

.navbar-fixed-top {
    position: fixed;
    width: 100%;
}

.navcolor{
    background: #000;
  }


.nav-link-a {
    color: rgba(255,197,118,0.5);
    border-bottom: 0.15rem solid transparent;
}

.nav-link-a:hover{
    color: rgba(255,197,118,0.5);
    border-bottom-color:rgba(255,197,118,0.5);
}

.nav-link-a.active {
    color: rgb(255,197,118);
    border-bottom-color:rgb(255,197,118);

}


@media(max-width:991px){

.nav-social {
    display: inline-block;
   }

.nav-link-a {
    border-bottom: 0rem solid ;
}

.nav-link-a:hover{
    color: :#000;
    border-bottom-color:#000;
}

.nav-link-a.active {
    color: white;
    border-bottom-color:#000;

}
}
  
  
  .change {
    display: inline;
    color: #A6A6A6;
  }

  .change:hover {
    color: #A6A6A6;
  }

  
  .project {
    height:100vh ;
    }
     
    .project2 {
      background-color: rgba(16, 16, 16,0.9);
      }
  
    .gap2{
      padding-right: 0px;
      background-color: rgba(31, 35, 54,1);
    }

 
  .resize-font {
    font-size: 17px;
    font-weight: 100;
}


.card-gap {
  padding-left: 40px;
  padding-top: 130px;
}

.card-gap2 {
  padding-left: 40px;
  padding-top: 140px;
}


/* ending of styles */



.text-content {
  /* padding: auto 0 auto 40px; */
  padding-top: 260px;
  padding-left: 140px;
  
}


/* Home style */

/* project */

.text-a {
  font-family: 'Ubuntu', sans-serif;
  /* font-size: 27px; */
  /* font-size: 30px; */
  font-size: 2.5rem;
}

.text-b {
  font-family: 'Ubuntu', sans-serif;
  /* font-size: 85px; */
  font-size: 5.7rem;
  font-weight: 600;
  margin-left: -3px;
}

.text-c {
  font-family: 'Ubuntu', sans-serif;
  /* font-size: 40px; */
  /* font-size: 30px; */
  font-size: 2.5rem;
  margin: 5px 0;
}


.project .text-b span {
  /* color: #c0392b; */
  color: crimson;
}


.home-upper{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 5rem;
  /* text-align-last: center; */
}

.home-lower{
  display: flex;
    justify-content: center;
    align-items: center;
    text-align-last: center;
    padding-left: 5rem;
    justify-content: left;
}

.home-lower .p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
}

@media(max-width:1205px){
.home-upper{
justify-content: center;
padding-left: 3rem;
}
.text-a {
  font-size: 2rem;
}

.text-b {
  font-size: 5rem;
  font-weight: 600;
  margin-left: -3px;
}

.text-c {
  font-size: 2rem;
  margin: 5px 0;
}
}

@media(max-width:993px){
.home-upper{
padding-left: 0rem;
text-align: center;
}
}

/*Ending of Home style */




/* About Page */
.about-padding{
  padding-top:4rem;
  padding-bottom: 2rem;
}

.header-section2{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* text-align: center; */
  /* padding-top: 2.6rem; */
}
.about-body {
  padding-top: 5rem;
  padding-bottom: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-p {
  display: flex;
  font-size: 1rem;
  text-align: left;
}
.adjust{
  display: flex;
  justify-content: flex-end;
}

.custom-img-fluid {
  display: flex;
  max-width: 100%;
  height: auto;
  padding-left: 3rem;
}
.profile-img {
  display: flex;
  max-width: 100%;
  height: auto;
  padding-left: 3rem;
  /* width:500px;
  height:665px; */
  /* max-width: 60%;
  height: auto; */
  width:290px;
  height:390px;
  /* border: 10px solid red; */
  /* background: linear-gradient(to right, rgba(0, 255, 0, 0.2),rgba(0, 255, 0, 0.2)) , url('assets/pic2.jpg') no-repeat center /cover ; */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url('assets/pic2.jpg') no-repeat center /cover ;
}
.resume-btn{
  background-color: #131313;
  /* background-color: #2b2e42; */
  border-color: #FFC576;
  color: #FFC576;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s;
  user-select: none;

}

.resume-btn:hover{
  background-color: #FFC576;
  border-color: #FFC576;
  color: #000;
}

@media(max-width: 1400px){
  .about-p{
        font-size: 1rem;
  }
}
@media(max-width: 770px){
  
/* about */
.custom-img-fluid {
      max-width: 100%;
      height: auto;
      /* padding-left: 0rem; */
      padding-left: 1.5rem;
}
.profile-img {
  max-width: 100%;
      height: auto;
      /* padding-left: 0rem; */
      padding-left: 1.5rem;
  /* width:500px;
  height:665px; */
  /* max-width: 60%;
  height: auto; */
  width:284px;
  height:379px;
  /* border: 10px solid red; */
}
.about-p {
  display: flex;
  font-size: 0.9rem;
  text-align: center;
  /* padding: 1rem 1rem; */
  padding: 1rem 1.2rem;
  padding-left: 2rem;
}

.header-section2{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* text-align: center; */
  padding-top: 1.7rem;
    font-size: 2.3rem;
}

.about-body {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.img-small {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  padding-top: 2rem;
}
.resume-lnk{
  padding-left: 2rem;
}

}


/* Ending of About Page */






/* begining styles for profile section */

.profile-padding{
  padding-top:5rem;
  padding-bottom: 5rem;
}

.nav.nav-pills .nav-item .nav-link {
  border-radius: 0px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 18px 68px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: rgba(255,255,255,.05);
  border-radius: 0 0 0 0;
  /* background-color: #2a2c47; */
  background-color: rgba(31, 35, 54,1);
}

.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #FFC576;
  border-radius: 0px;
}

.nav-pills .nav-item .nav-link:hover{
  background-color: #FFC576;
  border-radius: 0px;
}

.nav-link.active .deco {
  color: #000;
  font-weight: 500;
}
.nav.nav-pills .nav-item .nav-link .deco.last{
  border-radius: 0px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 14px 25px;
  /* border-style: solid; */
  border-width: 0 1px 0 0;
  border-color: rgba(31, 35, 54,1);
  /* border-radius: 0 0 0 0; */
  /* background-color: #2a2c47; */
  /* background-color: rgba(31, 35, 54,1);*/
}




/* experience and Volunter experience */

.profile-content {
  background-color: rgba(31, 35, 54,0.7);
}

.exp-view {
display: flex;
justify-content: center;
/* align-content: center; */
}

.cop-img {
  display: flex;
  justify-content: space-around;
  /* align-content: center; */
  align-self: center;
}

.card-style{
margin: 0;
/* padding: 18px 68px; */
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: rgba(255,255,255,.05);
border-radius: 1;
/* background-color: #2a2c47; */
background-color: rgba(31, 35, 54,0.5);
/* padding: 18px 68px; */
padding: 10px 20px;
border-color: rgba(255, 197, 118, 0.3);
border-radius: 7px;
padding-bottom: 10px;
box-shadow: 1px 1px 1px 0px rgb(255 197 118 / 30%);
}

.pan-view{
  height: 40rem;
}

.pan-view-items {
  align-self: center;
}

.pan-view-items-2 {
  align-self: center;
  padding-right: 5rem;
  padding-left: 5rem;
}


.pan-view-img {
  display: flex;
  justify-content: space-around;
}

.br-style {
  padding-right: 5rem;
  padding-left: 5rem;
}

@media(max-width:995px){
  .pan-view{
    height: auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .pan-view-items-2 {
    padding-top: 2rem;
}
}

@media(max-width:755px){

  .card-style{
    margin: 0;
    /* padding: 18px 68px; */
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(255,255,255,.05);
    border-radius: 1;
    /* background-color: #2a2c47; */
    background-color: rgba(31, 35, 54,0.5);
    /* padding: 18px 68px; */
    border-color: rgba(255, 197, 118, 0.3);
    border-radius: 7px;
    /* padding-bottom: 10px; */
    box-shadow: 1px 1px 1px 0px rgb(255 197 118 / 30%);
    padding: 0px;
    margin: 0px;
    padding: 5px 10px;
    }

    .p-text{
      font-size: 0.8rem;
    }

    .h4-text{
      font-size: 1rem;
    }
    .resize-font {
      font-size: 0.8rem;
      font-weight: 100;
  }
  .pan-view-items-2 {
    align-self: center;
    padding-right: 3rem;
    padding-left: 3rem;
}
}


/* certification */

.cert{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-cert {
  /* background-color: rgba(31, 35, 54,0.9); */
  background-color: #313552;
  width: 19rem;
  height: auto;
  border-radius: 1rem;
}
.card-cert:hover {
  /* transition: transform .5s ease; */
  transition: all .2s ease-in-out; 
  transform: scale(1.04);
  /* background-color: #2b2e42; */
  background-color: #202130;
}

.img-text {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(29, 106, 154, 0.72); */
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary
  transition: opacity .2s, visibility .2s; */
}

.cert-btn{
  background-color: #313552;
  /* background-color: #2b2e42; */
  border-color: #FFC576;
  color: #FFC576;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s;
  user-select: none;

}

.cert-btn:hover{
  background-color: #FFC576;
  border-color: #FFC576;
  color: #000;
}
.card-padding {
  flex: 1 1 auto;
  padding: 0rem 1rem;
}

.cert-btn-display {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pjt-img:hover .img-text {
  visibility: visible;
  opacity: 1;
}

.card-right {
  padding-right: 5rem;
}

.card-left {
  padding-left: 5rem;
}

@media(max-width:755px){
  .card-right {
    padding-right: 0rem;
  }
  
  .card-left {
    padding-left: 0rem;
  }
}


/* education */

.edu-view {
  align-self: center;
  padding-left: 5rem;
}

.edu-top{
  padding-bottom: 7rem;
}

.edu-buttom {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.txt-1 {
  font-size: 20px;
  font-weight: 300;
}

.txt-2{
  font-size: 18px;
  font-weight: 200;
}

.txt-3 {
  font-size: 14px;
  font-weight: 100;
}

.img-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@media(max-width:1444px){
  .edu-view {
    align-self: center;
    padding-left: 3.5rem;
  }

}

@media(max-width:1024px){
.skip {
  padding-top: 2rem;
}
}

@media(max-width:1024px){
  .skip {
    padding-top: 2rem;
  }
  }
  

@media(max-width:993px){
  .skip {
    padding-top: 0rem;
  }
  .edu-view {
    align-self: center;
    padding-left: 1.5rem;
  }

  .txt-1 {
    font-size: 17px;
    font-weight: 300;
  }
  
  .txt-2{
    font-size: 15px;
    font-weight: 200;
  }
  
  .txt-3 {
    font-size: 13px;
    font-weight: 100;
  }

  .edu-top{
    padding-bottom: 3rem;
  }
  
  .edu-buttom {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
  }

  .img-center {
    display: flex;
    justify-content: end;
    align-items: end;
  }
  .txt-a{
    font-size: 17px;
    font-weight: 500;
  }
  .txt-b{
    font-size: 15px;
    font-weight: 200;
  }
}







/* begining of skills tab */

.skill-body {
  display: grid;
  height: 100%;
  place-items: center;
  /* background: #6665ee; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
  padding: 20px 30px;
  /* width: 600px; */
  width: 100%;
  /* background: #fff; */
  /* box-shadow: 5px 5px 20px rgba(0,0,0,0.2); */
  /* border-radius: 10px; */
  margin-top: 20px;
}
.skill-bars .bar{
  margin: 0px 0;
  margin-bottom: 40px;
}
/* .skill-bars .bar:first-child{
  margin-top: 0px;
} */
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 100;
  font-size: 15px;
  opacity: 0;
  animation: showText 0.2s 0.7s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 5px;
  width: 100%;
  background: rgba(31, 34, 53,1);
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 0px 0px rgba(0,0,0,0.00),
              0 0px rgba(255,255,255,0.8);
  animation: animate 0.7s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: rgb(180, 120, 36);
  
  /* #6665ee */
  /* #ffc576 */

  animation: animate 0.7s 0.7s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 50%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
/*      */
.bar .progress-line.autocad span{
  width: 96%;
}
.bar .progress-line.react span{
  width: 95%;
}
.bar .progress-line.java span{
  width: 94%;
}
.bar .progress-line.bootstrap span{
  width: 93%;
}
.bar .progress-line.mongodb span{
  width: 92%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000; /*change*/
  opacity: 0;
  animation: showText2 0.2s 1.2s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000; /*change*/
  color: #fff; /*change*/
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.2s 1.2s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "75%";
}

/*      */
.progress-line.autocad span::after{
  content: "96%";
}
.progress-line.react span::after{
  content: "95%";
}
.progress-line.java span::after{
  content: "94%";
}
.progress-line.bootstrap span::after{
  content: "93%";
}
.progress-line.mongodb span::after{
  content: "92%";
}

/* ending of skills tab */
    


/* Project Section */

.card-cert-pjt {
  background-color: #313552;
  width: 19rem;
  height: auto;
  border-radius: 1rem;
}

.card-cert-pjt:hover {
  transition: all .2s ease-in-out; 
  transform: scale(1.04);
  background-color: #202130;
}

.project-view {
  height: 50rem;
}

.key {
  display: flex;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

@media(max-width:993px){
  .key{
    
  }
}
.pjt-1 {
  display: flex;
  justify-content: center;
  padding-left: 10rem;
}

.pjt-2 {
  display: flex;
  justify-content: center;
  padding-right: 10rem;
}

.learn-more {
  display: flex;
  justify-content: center;
  padding-top: 1.9rem;
  padding-bottom: 1.1rem;
}


.learn-more-btn {
  background-color: #313552;
  border-color: #FFC576;
  color: #FFC576;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s;
  user-select: none;
}

.learn-more-btn:hover {
  background-color: #FFC576;
  border-color: #FFC576;
  color: #000;
}
.learn-link-a{
  text-decoration: none;
  color: rgb(180, 120, 36);
  padding-top: 0.8rem;
}

.link-style{
  text-decoration: none;
  color: rgb(180, 120, 36);
}

.link-style:hover{
  text-decoration: none;
  color: rgb(180, 120, 36);
}

.learn-link-b{
  text-decoration: none;
  color: rgb(180, 120, 36);
}

.learn-link-b:hover{
  text-decoration: none;
  color: rgb(180, 120, 36);
}

.pjt-img{
  overflow: hidden; 
  }

.pjt-img img {
  transition: transform .5s ease;
}

.pjt-img:hover img {
  transform: scale(1.1);
}



  

@media(max-width:1030px){
  .pjt-1 {
    padding-bottom: 2rem;
    padding-left: 1.5rem
  }
  
  .pjt-2 {
    padding-right: 0rem;
  }

  .key {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.project-view {
  height:auto;
  padding-bottom: 4rem;
}
}

@media(max-width:325px){

  .pjt-1 {
    padding-left: 2.0rem;
  }
  
  .pjt-2 {
    padding-left: 1.4rem;
  }
}



/* begining styles for animated text */
.text {
  padding-right: 130px;
  padding-left: 140px;
}



.p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-size: 60px;
}

.word {
  position: absolute;
  width: 290px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

/* ending styles for animated text */



@media(max-width: 1450px) {

  /* Profile Page */

  .gap2 {
    padding-right: 0px;
    background-color: rgba(31, 35, 54,1);
}

/* profile page */

.nav.nav-pills .nav-item .nav-link .deco.first, .deco.second, 
.deco.third, .deco.fourth, .deco.last  {
  border-radius: 0px;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 1px 1px;
  border-width: 0 1px 0 0;
  border-color: rgba(31, 35, 54,1);
}


.nav.nav-pills .nav-item .nav-link .deco.last {
  border-radius: 0px;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 1px 1px;
  border-width: 0 1px 0 0;
  border-color: rgba(31, 35, 54,1);
}

}


/* Ipad view and lower*/
@media(max-width: 1200px) {

.nav.nav-pills .nav-item .nav-link {
  border-radius: 0px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 14px 50px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: rgba(255,255,255,.05);
  border-radius: 0 0 0 0;
  background-color: rgba(31, 35, 54,1);
}

.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #FFC576;
  border-radius: 0px;
}

.nav-pills .nav-item .nav-link:hover{
  background-color: #FFC576;
  border-radius: 0px;
}


}



/* Ipad view and lower*/
@media(max-width: 1065px) {

  /* profile */
  
  .nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #FFC576;
    border-radius: 0px;
  }
  
  .nav-pills .nav-item .nav-link:hover{
    background-color: #FFC576;
    border-radius: 0px;
  }
  
  
  .nav.nav-pills .nav-item .nav-link .deco.first, .deco.second, 
  .deco.third {
    border-radius: 0px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 1px 37px;
    border-width: 0 1px 0 0;
    border-color: rgba(31, 35, 54,1);
  }
  
  .nav.nav-pills .nav-item .nav-link .deco.fourth, .deco.last {
    border-radius: 0px;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding: 1px 42px;
    border-width: 0 1px 0 0;
    border-color: rgba(31, 35, 54,1);
  }

  .nav.nav-pills .nav-item .nav-link .deco.last {
    border-radius: 0px;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding: 1px 42px;
    border-width: 0 1px 0 0;
    border-color: rgba(31, 35, 54,1);
  }

}




/* profile page */

@media(max-width: 992px) {

 
 /* profile page */

 .nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #FFC576;
  border-radius: 0px;
}

.nav-pills .nav-item .nav-link:hover{
  background-color: #FFC576;
  border-radius: 0px;
}


.nav.nav-pills .nav-item .nav-link .deco.first, .deco.second, 
.deco.third {
  border-radius: 0px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 1px 25px;
  border-width: 0 1px 0 0;
  border-color: rgba(31, 35, 54,1);
}

.nav.nav-pills .nav-item .nav-link .deco.fourth {
  border-radius: 0px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 1px 25px;
  border-width: 0 1px 0 0;
  border-color: rgba(31, 35, 54,1);
}

.nav.nav-pills .nav-item .nav-link .deco.last{
  border-radius: 0px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 14px 25px;
  border-width: 0 1px 0 0;
  border-color: rgba(31, 35, 54,1);
}

}






  /* Phoner*/
@media(max-width: 770px) {
  
/* profile Links*/

.nav.nav-pills .nav-item .nav-link {
    border-radius: 0px;
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    padding: 10px 25px;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: rgba(255,255,255,.05);
    border-radius: 0 0 0 0;
    background-color: rgba(31, 35, 54,1);
}

.nav.nav-pills .nav-item .nav-link .deco.first, .deco.second, 
.deco.third {
  border-radius: 0px;
  font-size: 8px;
  font-weight: 700;
  margin: 0;
  padding: 1px 1px;
  border-width: 0 1px 0 0;
  border-color: rgba(31, 35, 54,1);
}

.nav.nav-pills .nav-item .nav-link .deco.fourth {
  border-radius: 0px;
  font-size: 9px;
  font-weight: 700;
  margin: 0;
  padding: 1px 5px;
  border-width: 0 1px 0 0;
  border-color: rgba(31, 35, 54,1);
}

.nav.nav-pills .nav-item .nav-link .deco.last{
  border-radius: 0px;
  font-size: 9px;
  font-weight: 700;
  margin: 0;
  padding: 1px 1px;
  border-width: 0 1px 0 0;
  border-color: rgba(31, 35, 54,1);

}

.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #FFC576;
  border-radius: 0px;
}

.nav-pills .nav-item .nav-link:hover{
  background-color: #FFC576;
  border-radius: 0px;
}
}

  
